.dub
docs.json
__dummy.html
docs/
/server/server
/server/vrcd_server
/server/vrcd-server-test-application
/client/vrcd_client
/client/vrcd-client-test-application
/vrcd
vrcd-test-*
*.so
*.dylib
*.dll
*.lib
*.a
*.lib
*.exe
*.pdb
*.o
*.obj
*.lst
*.json

perso/
*.log
*.db
*.db-shm
*.db-wal
*.crt

# AppImage
/vrcd-client.AppDir
*.AppImage

# Flatpak
.flatpak-builder/
build-dir/
run/